In [2]:
import pandas as pd
import numpy as np
import os

In [11]:
file_to_load = "purchase_data.csv"

In [12]:
purchase_data=pd.read_csv(file_to_load)

Player Count

In [16]:
#Display the total number of players
uniqueSN = df['SN'].unique()
unique_players = len(uniqueSN)
total_players_dict = {"Total Players": [unique_players]}
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576



Purchasing Analysis (Total)




Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [27]:
unique_items = len(purchase_data["Item ID"].unique())
purchases = purchase_data["Price"].count()
total_revenue=purchase_data["Price"].sum()
avg_price = total_revenue / purchases

summary_table = pd.DataFrame({"Number of Unique Items": [unique_items], 
                              "Average Price": [avg_price], 
                              "Number of Purchases": [purchases], 
                              "Total Revenue": [total_revenue]}) 
summary_table["Average Price"] = summary_table["Average Price"].map("${:.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format) 
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

Gender Demographics




Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

Purchasing Analysis (Gender)




Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame