In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file_reference = "purchase_data.csv"

In [3]:
sales_data = pd.read_csv(file_reference)

## Player Count

In [7]:
total_players = pd.DataFrame({"Total Players": [len(sales_data["SN"].unique())]}) 
total_players

   Total Players
0            576

## Purchasing Analysis (Total)




Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [6]:
unique_items = len(sales_data["Item ID"].unique())
purchases = sales_data["Price"].count()
total_revenue=sales_data["Price"].sum()
avg_price = total_revenue / purchases

summary_table = pd.DataFrame({"Number of Unique Items": [unique_items], 
                              "Average Price": [avg_price], 
                              "Number of Purchases": [purchases], 
                              "Total Revenue": [total_revenue]}) 
summary_table["Average Price"] = summary_table["Average Price"].map("${:.2f}".format)
summary_table["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format) 
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics




Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [10]:
total_players = len(sales_data["SN"].unique()) 
grouped_players=sales_data.groupby('Gender')['SN'].nunique() 
n_sales_data = grouped_players.to_frame('Total Count') 
n_sales_data['Percentage of Players'] = round(n_sales_data/total_players*100,2) 
n_sales_data

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [11]:
p_count = sales_data.groupby('Gender')['Item ID'].count()
p_value = sales_data.groupby('Gender')['Price'].sum()
pa_df=p_count.to_frame('Purchase Count')
pa_df["Average Purchase Price"] = (p_value/p_count).map("${:.2f}".format)
pa_df["Total Purchase Value"] = p_value.map("${:.2f}".format)
pa_df["Avg Total Purchase per Person"] = (p_value/grouped_players).map("${:.2f}".format)
pa_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56